@{
    ViewBag.Title = "Администрирование";
}
<h2>Администрирование</h2>
<div class="row">
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-4">
            @if (User.IsInRole("admin"))
            {
                <h4>Редактирование справочников</h4>
                <p>@Html.ActionLink("Редактировать справочник городов и улиц", MVC.Streets.Index(), new {@class = "btn btn-default btn-block wideBtn"})</p>
                <p>@Html.ActionLink("Редактировать справочник дорожной разметки", MVC.HorizontalRoadMarkings.Index(), new {@class = "btn btn-default btn-block wideBtn"})</p>
                <p>@Html.ActionLink("Редактировать справочник дорожных знаков", MVC.RoadSigns.Index(), new {@class = "btn btn-default btn-block wideBtn"})</p>
                <p>@Html.ActionLink("Редактировать справочник дорожных ограждений", MVC.RoadBarriers.Index(), new {@class = "btn btn-default btn-block wideBtn"})</p>
            }
        </div>
    }
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-4 col-md-offset-4">

            <h4>Управление пользователями</h4>
            <p>@Html.ActionLink("Администрирование пользователей", MVC.Administration.Users(), new { @class = "btn btn-default" })</p>

        </div>
    }
    else
    {
        <div class="col-md-4 col-md-offset-8">

            <h4>Управление пользователями</h4>
            <p>@Html.ActionLink("Администрирование пользователей", MVC.Administration.Users(), new { @class = "btn btn-default" })</p>

        </div>
    }

</div>