@model IEnumerable<oncloud.Web.oddBase.Models.ApplicationUser>

@{
    ViewBag.Title = "Администрирование пользователей";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Administration.Index())</li>
    <li class="active">Справочник пользователей</li>
</ol>

<p>
    @Html.ActionLink("Добавить", MVC.Account.Register(), new { @class = "btn btn-success" })
</p>
<p>

</p>
<table class="table">
    <tr>
        <th>
           Имя пользователя
        </th>
        <th>
            Роль
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
          
            <td>
                @item.UserName
            </td>
            <td>
              @item.Roles.Single().UserId
            </td>
       </tr>
    }

</table>
