<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oncloud</title>
    
    @Styles.Render("~/Content/css")
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqCrid")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/print")
    @Scripts.Render("~/bundles/DD")
    @Styles.Render("~/Content/jqCrid")
   
    

    <script src="https://api-maps.yandex.ru/2.1.29/?lang=ru_RU&mode=release" type="text/javascript"></script>
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div>
            <div class="navbar-header">
                <img src="/Content/images/ONCLOUD logo site.png" />
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Главная страница <br>OddBase</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Таблица Улиц", "Table", "Home")</li>
                    <li>@Html.ActionLink("Карта улиц", "ShowOnMap", "Home",new {id= (int?)null },null)</li>
                    <li>@Html.ActionLink("Администрирование", "Index", "Administration")</li>
                    
                   
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div style="margin-top: 35px" class="container-fluid body-content">

        @RenderBody()
        <div style="clear: both">
        <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - OnCloud</p>
            </footer>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
