@using Newtonsoft.Json
@model  oncloud.Domain.Entities.Street
@{
    ViewBag.Title = "EditStreets";
}


<script type="text/javascript">
    ymaps.ready(init);
    var myMap, myPlacemark, Arr = [[]], counterArr = 0, handlerRoute, currentRoute,
        firstPointRoute, endPointRoute, position, identifierForDelete = 0,
        increment = 1, tempData, tempDataFor3 = 5, objects, identifierForDelBallon = true, CoordinatesforFirstLoad,
        CountObjectInMap, transfercurrentRoute, massSegment = [], handlerSegment, countElementSegGlobal = new Object();
    countElementSegGlobal.length = 0, incForTab1 = 8, incForTab2 = 8;

    function init() {

        myMap = new ymaps.Map("map", {
            center: [53.9172, 27.5601],
            zoom: 11,
            controls: []
        });

        myMap.behaviors.disable(["dblClickZoom"]);
        myMap.controls.add(
            new ymaps.control.TypeSelector(
                ['yandex#map', 'yandex#hybrid', 'yandex#satellite']
            )
        );
        ymaps.route([
                ['@Model.BreadthS', '@Model.LengthS'],
                ['@Model.BreadthE', '@Model.LengthE']
            ],
            {
                mapStateAutoApply: true,
                removeViaPoints: true
            }
        ).then(
            function (route) {
                route.events.add('dragend', function (e) {
                    Arr[0] = [route.requestPoints[0][0].toString().substr(0, 7), route.requestPoints[0][1].toString().substr(0, 7)];
                    Arr[1] = [route.requestPoints[1][0].toString().substr(0, 7), route.requestPoints[1][1].toString().substr(0, 7)];
                });
                route.editor.start({
                    editWayPoints: true
                });

                var points = route.getWayPoints();
                points.get(0).properties.set("iconContent", "Начало улицы");

                points.get(0).options.set('preset', 'islands#darkGreenStretchyIcon');


                points.get(1).properties.set("iconContent", "Конец улицы");

                points.get(1).options.set("preset", "islands#darkGreenStretchyIcon");

                route.getPaths().options.set({

                    //можно выставить настройки графики маршруту
                    strokeColor: '0000ffff',
                    opacity: 0.9
                });
                currentRoute = route;

                route.getPaths().options.set({
                    //можно выставить настройки графики маршруту
                    strokeColor: '0000ffff',
                    opacity: 0.9,
                    strokeWidth: 4,
                    mapStateAutoApply: true
                });

                //нужно для масшатабирования

                myMap.geoObjects.add(route);
                myMap.geoObjects.remove(route);

                myMap.geoObjects.add(route.getPaths());
                identifierForDelete = 0;
                var DataOfSegment = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Segment.Select(a=>new {a.LengthS,a.LengthE,a.BreadthE,a.BreadthS,a.ChangeDislocationTCODD,IdSegment= a.layoutDislocation.Select(b=>b.Id).SingleOrDefault()})
                                                , Formatting.None,
                    new JsonSerializerSettings() {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                }))');
                var DataOfRoadSings = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.SpecificationofRS.Select(a=>new {a.CountRS,a.Segment.Name,a.RoadSigns.NumberRoadSigns})
                                                , Formatting.None,
                    new JsonSerializerSettings() {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                    }))');
                var DataOfRoadBarriers = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.SpecificationOfRb.Select(a => new {a.Segment.Name, a.Length, a.RoadBarriers.NumberBarriers})
                                                          , Formatting.None,
                                                          new JsonSerializerSettings()
                                                          {
                                                              ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                                                          }))');



                var setSegment = function (i) {

                    var segment = new ymaps.GeoObject({
                        geometry: {
                            type: "Point", // тип геометрии - точка
                            coordinates: [DataOfSegment[i].BreadthE, DataOfSegment[i].LengthE] // координаты точки

                        },
                        properties: {
                            iconContent: increment,
                            balloonContentHeader: "Данные участка № " + (i + 1) + "",
                            balloonContent: " <a type='button' href='#'  onclick='setTCODD(this)' data-toggle='modal' IdSegment=" + i + " data-target='#layoutDislocation' >Посмотреть дислокацию ТСОДД</a> <br>" +
                                "<a data-toggle='modal' onclick='setRoasSings(this)'  IdSegment=" + i + " data-target='#ModalRoadSigns' href='#'>Просмотреть спецификацию знаков</a></br>" +
                                "<a data-toggle='modal' onclick='setRoadBarriers(this)' data-target='#RoadBarriers' IdSegment=" + i + " href='#'>Посмотреть спецификацию дорожных ограждений</a>"
                        }
                    },
                    {
                        preset: "islands#blueCircleIcon"

                    });
                    if (DataOfSegment[i].ChangeDislocationTCODD == true) {

                        segment.options.set("preset", "islands#redCircleIcon");
                    }
                    myMap.geoObjects.add(segment);

                    massSegment[increment - 1] = myMap.geoObjects.indexOf(segment);
                    increment++;
                }


                for (var i = 0; i < "@Model.Segment.Count"; i++) {
                    setSegment(i);
                }

                var multiplicity, incrementMul = 0;
                for (var i = 0; i < DataOfRoadSings.length; i++) {
                    if (multiplicity != undefined) {
                        if (multiplicity == DataOfRoadSings[i].Name.toString() + "ModalC" + DataOfRoadSings[i].NumberRoadSigns.toString()) {
                            incrementMul++;
                        } else {
                            incrementMul = 0;
                        }
                    }
                    multiplicity = DataOfRoadSings[i].Name.toString() + "ModalC" + DataOfRoadSings[i].NumberRoadSigns.toString();
                    $("[name='" + DataOfRoadSings[i].Name.toString() + "ModalC" + DataOfRoadSings[i].NumberRoadSigns.toString() + "']").eq(incrementMul)
                        .attr("value", DataOfRoadSings[i].CountRS);

                }
                for (var i = 0; i < DataOfRoadBarriers.length; i++) {
                    $("[name='" + DataOfRoadBarriers[i].Name.toString() + "RoadBarriers" + DataOfRoadBarriers[i].NumberBarriers.toString() + "']")
                        .attr("value", DataOfRoadBarriers[i].Length);
                }
            });




    }

    $(document).ready(function () {

        tableToGrid("#table1", {
            cmTemplate: { "resizable": false, sortable: false }
        });
        tableToGrid("#table2", {
            cmTemplate: { "resizable": false, sortable: false }
        });
        tableToGrid("#table3", {
            cmTemplate: { "resizable": false, sortable: false }
        });

        //слайдер опции
        $('.carouselTCODD').carousel({
            interval: false
          
        });
 
        $('.RoadSignsItems').carousel({
            interval: false
          
        });

        $('.RoadBarriersItems').carousel({
            interval: false
           
        });
        //перелистование слайдера при нажатии на клавиши
        $("#layoutDislocation").on('keyup', function (e) {
            if (e.which == 39) {
                $("#carousel-example-generic .carousel-control.right").trigger('click');
            }
            else if (e.which == 37) {
                $("#carousel-example-generic .carousel-control.left").trigger('click');
            }
        });
        $("#ModalRoadSigns").on('keyup', function (e) {
            if (e.which == 39) {
                $("#carousel-example-generic1 .carousel-control.right").trigger('click');
            }
            else if (e.which == 37) {
                $("#carousel-example-generic1 .carousel-control.left").trigger('click');
            }
        });

        $("#RoadBarriers").on('keyup', function (e) {
            if (e.which == 39) {
                $("#carousel-example-generic2 .carousel-control.right").trigger('click');
            }
            else if (e.which == 37) {
                $("#carousel-example-generic2 .carousel-control.left").trigger('click');
            }
        });
    });

    function setTCODD(object) {
        $(".TCODD").each(function (indx, element) {
            $(element).removeClass("active");
        });
        $(".TCODD").eq(parseInt($(object).attr("idSegment")) + 1).addClass("active");

    }

    function setRoasSings(object) {
        $(".RoadSignsItem").each(function (indx, element) {
            $(element).removeClass("active");
        });

        $(".RoadSignsItem").eq($(object).attr("IdSegment")).addClass("active");
    }
    function setRoadBarriers(object) {
        $(".RoadBarriersItem").each(function (indx, element) {
            $(element).removeClass("active");
        });

        $(".RoadBarriersItem").eq($(object).attr("IdSegment")).addClass("active");
    }
</script>
<style>

    td input {
        border-width: 0;
        text-align: right !important;
    }
    /*правит шрифт бутсрапа*/
    label {
        font-weight: normal;
    }
    /*отступы*/
    .indentForTextBox {
        margin-right: 60px;
    }

    .btn {
        width: 285px;
    }

    .modal-dialog {
        width: 1200px;

    }
     /*затемненные области справа и слева в окне-карусели*/
    .carousel-control.right {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    }

    .carousel-control.left {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    }

    .carousel-control.left:hover {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    }
    .carousel-control.right:hover {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
    }

    /*указатели влево-впарво в модальном окне-карусели*/
    .glyphicon-chevron-right {
        color: red;
    }
    .glyphicon-chevron-left {
        color: red;
    }

    /*размеры модабных окон*/

    
     @@media (min-width: 768px) {
         .carousel-inner {
             height: 400px
         }
         .carousel-inner img {
             height: 300px !important
         }
          .modal-dialog {
          width: 500px;
         }
     }














     
   @@media (min-width: 992px) {       
  .carousel-inner {
             height: 600px
         }
         .carousel-inner img {
             height: 500px !important
         }
         .modal-dialog {
        width: 700px;

         }
     }     @@media (min-width: 1200px) {
         .carousel-inner {
             height: 800px
         }
         .carousel-inner img {
             height: 700px !important
         }
        .modal-dialog {
        width: 1000px;

    }
     }
 /*.active {
        overflow: auto;
        margin-right: 180px;
        margin-left: 180px; 
    }*/
    
    /*.RoadBarriersItem {
        overflow: auto;
        padding-left:  180px;
        padding-right: 180px;
    }

    .item .RoadSignsItem {
        overflow: auto;
        padding-left:  180px;
        padding-right: 180px;
    }*/
</style>
<h2 style="text-align: center">ПРОСМОТР ДАННЫХ УЛИЦЫ</h2>

<div class="row" id ="firstTable">
    <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <div id="map" style="height: 400px;"></div>
    </div>
    <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div>
            <b><u>1. Место расположения</u></b><br>
            г. @Model.City.Name  @Model.Name
        </div>
        <div><p><b><u>2. Количество участков-  </u></b>@Model.Segment.Count</p></div>
        <div>
            <b>
                <u>
                    3. Количество участков подлежащих редактированию-
                </u>
            </b>
            @if (Model.Segment.Any(a => a.ChangeDislocationTCODD))
            {
                @Model.Segment.Where(a => a.ChangeDislocationTCODD).Count();
            }
            else
            {
                @: 0
            }
        </div>
        <div>
            <button style="display: block" type="button" class="btn btn-default" onclick="setTCODD(this)" IdSegment="-1" data-toggle="modal" data-target="#layoutDislocation">
                Просмотр компоновочной схемы
            </button>
        </div>
        <div style="">
            <h3>Спецификация дорожных знаков</h3>
            <table id="table2">
                <tr>
                    <th>№ знака</th>
                    <th>Количество</th>
                </tr>
                @foreach (var item in Model.SpecificationofRS.GroupBy(a => new {a.RoadSigns.NumberRoadSigns}).OrderBy(a =>
                {
                    return int.Parse(a.Key.NumberRoadSigns.Substring(0, a.Key.NumberRoadSigns.IndexOf(".")).Replace(".", ","));
                })
                    .ThenBy(a =>
                    {
                        if (a.Key.NumberRoadSigns.IndexOf(".", a.Key.NumberRoadSigns.IndexOf(".") + 1) == -1)
                        {
                            return int.Parse(a.Key.NumberRoadSigns.Substring(a.Key.NumberRoadSigns.IndexOf(".") + 1));
                        }
                        else
                        {
                            return int.Parse(a.Key.NumberRoadSigns.Substring(a.Key.NumberRoadSigns.IndexOf(".") + 1,
                                (a.Key.NumberRoadSigns.IndexOf(".", a.Key.NumberRoadSigns.IndexOf(".") + 1) - a.Key.NumberRoadSigns.IndexOf(".")) - 1));
                        }
                    })
                    )
                {
                    <tr>
                        <td>@item.Key.NumberRoadSigns</td>
                        <td>@item.Sum(a => a.CountRS)</td>
                    </tr>
                }
                <tr>
                    <td><b>Итого</b></td>
                    <td>@Model.SpecificationofRS.Sum(a => a.CountRS)</td>
                </tr>
            </table>
            <button type="button" class="btn btn-default" style="margin-top: 5px" onclick="printTable('#gview_table2')">Печать</button>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <h3>Спецификация дорожной разметки</h3>

        <table id="table1">
            <tr>
                <th>№ разметки</th>
                <th>Длина (м.пог) / штуки</th>
                <th>Площадь (м.кв)</th>
            </tr>
            @foreach (var item in Model.SpecificationofRM)
            {
                <tr>
                    <td>@item.TheHorizontalRoadMarking.NumberMarking</td>
                    <td>@item.length</td>
                    <td>@item.area</td>
                </tr>
            }
            <tr>
                <td><b>Итого</b></td>
                <td>@Model.SpecificationofRM.Sum(a => Double.Parse(a.length==""?"0":a.length.Replace(".",",")))</td>
                <td>@Model.SpecificationofRM.Sum(a => Double.Parse(a.area==""?"0":a.area.Replace(".", ",")))</td>
            </tr>
        </table>
        <button type="button" class="btn btn-default" style="margin-top: 5px" onclick="printTable('#gview_table1')">Печать</button>
    </div>

    <div class="col-md-5 col-md-offset-2">
        <h3>Спецификация дорожных ограждений</h3>
        <table id="table3">
            <tr>
                <th>Описание</th>
                <th>Погонные метры</th>
            </tr>
            @foreach (var item in Model.SpecificationOfRb.GroupBy(a => new {a.RoadBarriers.NumberBarriers, a.RoadBarriers.Description}))
            {
                <tr>
                    <td>@item.Key.Description</td>
                    <td>@item.Sum(a => a.Length)</td>

                </tr>
            }
            <tr>
                <td><b>Итого</b></td>
                <td>@Model.SpecificationOfRb.Sum(a => a.Length)</td>
            </tr>
        </table>
        <button type="button" class="btn btn-default" style="margin-top: 5px" onclick="printTable('#gview_table3')">Печать</button>
    </div>
</div>
<div style="clear: both">

</div>

@*Модальные окна*@
<div class="modal fade" id="layoutDislocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-width: 0px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div id="carousel-example-generic" class="carouselTCODD slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Segment.Count + 1; i++)
                        {
                            <li data-target="#carousel-example-generic" data-slide-to="@i"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner"  role="listbox">
                        <div class="item TCODD">
                            @if (Model.layoutScheme != null)
                            {
                                <img  src="@Url.Action("GetImageLayoutScheme", "Home", new {id = Model.layoutScheme.Id})" />
                            }
                            else
                            {
                                <h3 style="color: black;text-align: center">Компоновочная схема не загружена</h3>
                            }
                            <div class="carousel-caption">

                            </div>
                        </div>
                        @for (int i = 0; i < Model.Segment.Count; i++)
                        {
                            <div class="item TCODD">
                                <h3 style="color: black; text-align: center">
                                    г.Минск ул. @Model.Name<br>
                                    Дислокация ТСОДД участок @(i + 1)
                                </h3>
                                @if (Model.Segment.ElementAt(i).layoutDislocation.Any())
                                {

                                    <img id="TCODD" src="@Url.Action("LayoutDislocation", "Home", new {id = Model.Segment.ElementAt(i).layoutDislocation.SingleOrDefault().Id})" />
                                }
                                else
                                {
                                    <text>
                                        <h3 style="text-align: center">Дислокация ТСОДД не загружена</h3></text>
                                }
                                <div class="carousel-caption">

                                </div>
                            </div>
                        }
                    </div>
                      
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>




            </div>
            <div class="modal-footer" style="border-width: 0px">
                <button type="button" class="btn btn-default" onclick="printPicture('.TCODD')">Печать</button>
            </div>
        </div>
    </div>
</div>

<!-- ModalRoadSigns -->
<div class="modal fade" id="ModalRoadSigns" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div id="carousel-example-generic1" class="RoadSignsItems carousel  slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Segment.Count; i++)
                        {
                            <li data-target="#carousel-example-generic1" data-slide-to="@i"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->

                    <div class="carousel-inner" style="height: 700px;" role="listbox">
                        
                            @for (int i = 0; i < Model.Segment.Count; i++)
                            {
                                <div class="item RoadSignsItem" style="padding-left: 114px; padding-right: 114px;">
                                    <h3 style="color: black; text-align: center">
                                        г.Минск ул. @Model.Name<br>
                                        Спецификация дорожных знаков участок @(i + 1)
                                    </h3>
                                    <div style="overflow-x: auto">
                                        <table class="RoadSignsTable@(i + 1) table table-bordered">
                                            <tr>
                                                <th>№ знака</th>
                                                <th>Количество</th>
                                            </tr>
                                            @foreach (var item in Model.SpecificationofRS.Where(a => a.Segment.Name == (i + 1)))
                                            {
                                                <tr>
                                                    <td>@item.RoadSigns.NumberRoadSigns</td>
                                                    <td>@item.CountRS</td>
                                                </tr>
                                            }
                                            <tr>
                                                <td><b>Итого</b></td>
                                                <td>@Model.SpecificationofRS.Where(a => a.Segment.Name == (i + 1)).Sum(a => a.CountRS)</td>
                                            </tr>
                                        </table>

                                    </div>
                                        <div class="carousel-caption">

                                    </div>
                                </div>
                            }
                        
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic1" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic1" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default buttonclose" onclick="printPicture('.RoadSignsItem')">Печать</button>
            </div>
        </div>
    </div>
</div>
<!-- RoadBarriers  -->
<div class="modal fade" id="RoadBarriers" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div id="carousel-example-generic2" class="RoadBarriersItems slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Segment.Count; i++)
                        {
                            <li data-target="#RoadBarriers" data-slide-to="@i"></li>
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" style="height: 700px; " role="listbox">
                        @for (int i = 0; i < Model.Segment.Count; i++)
                        {
                            <div class="item RoadBarriersItem" style ="padding-left: 147px; padding-right: 147px; overflow: auto;">
                                <h3 style="color: black; text-align: center">
                                    г.Минск ул. @Model.Name<br>
                                    Спецификация дорожных ограждений участок @(i + 1)
                                </h3>
                                <div style="overflow-x: auto">
                                    <table class="RoadSignsTable@(i + 1) table table-bordered">
                                        <tr>
                                            <th>№ знака</th>
                                            <th>Количество</th>
                                        </tr>
                                        @foreach (var item in Model.SpecificationOfRb.Where(a => a.Segment.Name == (i + 1)))
                                        {
                                            <tr>
                                                <td>@item.RoadBarriers.NumberBarriers</td>
                                                <td>@item.Length</td>
                                            </tr>
                                        }
                                        <tr>
                                            <td><b>Итого</b></td>
                                            <td>@Model.SpecificationOfRb.Where(a => a.Segment.Name == (i + 1)).Sum(a => a.Length)</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="carousel-caption">

                                </div>
                            </div>
                        }
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModalMackUp" class="btn btn-default buttonclose" onclick="printPicture('.RoadBarriersItem')">Печать</button>
            </div>
        </div>
    </div>
</div>

