@using Newtonsoft.Json
@model  oncloud.Domain.Entities.Street
@{
    ViewBag.Title = "EditStreets";

}


<script type="text/javascript">
    ymaps.ready(init);
    var myMap, myPlacemark, Arr = [[]], counterArr = 0, handlerRoute, currentRoute,
        firstPointRoute, endPointRoute, position, identifierForDelete = 0,
        increment = 1, tempData, tempDataFor3 = 5, objects, identifierForDelBallon = true, CoordinatesforFirstLoad,
        CountObjectInMap, transfercurrentRoute, massSegment = [], handlerSegment, countElementSegGlobal = new Object();
    countElementSegGlobal.length = 0;

    function init() {

        myMap = new ymaps.Map("map", {
            center: [53.9172, 27.5601],
            zoom: 11,
            controls: []
        });

        myMap.behaviors.disable(["dblClickZoom"]);

        ymaps.route([
                ['@Model.BreadthS', '@Model.LengthS'],
                ['@Model.BreadthE', '@Model.LengthE']
        ],
            {
                mapStateAutoApply: true,
                removeViaPoints: true
            }
        ).then(
             function (route) {
                 route.events.add('dragend', function (e) {
                     Arr[0] = [route.requestPoints[0][0].toString().substr(0, 7), route.requestPoints[0][1].toString().substr(0, 7)];
                     Arr[1] = [route.requestPoints[1][0].toString().substr(0, 7), route.requestPoints[1][1].toString().substr(0, 7)];
                 });
                 route.editor.start({
                     editWayPoints: true
                 });

                 var points = route.getWayPoints();
                 points.get(0).properties.set("iconContent", "Начало улицы");

                 points.get(0).options.set('preset', 'islands#darkGreenStretchyIcon');


                 points.get(1).properties.set("iconContent", "Конец улицы");

                 points.get(1).options.set("preset", "islands#darkGreenStretchyIcon");

                 route.getPaths().options.set({

                     //можно выставить настройки графики маршруту
                     strokeColor: '0000ffff',
                     opacity: 0.9
                 });
                 currentRoute = route;

                 route.getPaths().options.set({
                     //можно выставить настройки графики маршруту
                     strokeColor: '0000ffff',
                     opacity: 0.9,
                     strokeWidth: 4,
                     mapStateAutoApply: true
                 });

                 //нужно для масшатабирования
                 myMap.geoObjects.add(route);
                 myMap.geoObjects.remove(route);

                 myMap.geoObjects.add(route.getPaths());
                 identifierForDelete = 0;
                 var DataOfSegment = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.Segment.Select(a=>new {a.LengthS,a.LengthE,a.BreadthE,a.BreadthS,a.ChangeDislocationTCODD,IdSegment= a.layoutDislocation.Select(b=>b.Id).SingleOrDefault()})
                                                , Formatting.None,
                    new JsonSerializerSettings() {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                }))');
                 var DataOfRoadSings = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.SpecificationofRS.Select(a=>new {a.CountRS,a.Segment.Name,a.RoadSigns.NumberRoadSigns})
                                                , Formatting.None,
                    new JsonSerializerSettings() {
                        ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                    }))');
                 @*var DataOfRoadBarriers = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.SpecificationOfRb.Select(a => new {a.Segment.Name, a.Length, a.RoadBarriers.NumberBarriers})
                                                          , Formatting.None,
                                                          new JsonSerializerSettings()
                                                          {
                                                              ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
                                                          }))');*@


              
                 var setSegment = function (i) {
                   
                     var segment = new ymaps.GeoObject({
                         geometry: {
                             type: "Point", // тип геометрии - точка
                             coordinates: [DataOfSegment[i].BreadthE, DataOfSegment[i].LengthE] // координаты точки

                         },
                         properties: {
                             iconContent: increment,
                             balloonContentHeader: "Данные участка № " + (i + 1) + "",
                             balloonContent: " <a type='button' href='#'  data-toggle='modal' onclick='setTCODD(this)' IdSegment=" + DataOfSegment[i].IdSegment + " data-target='#layoutDislocation' >Посмотреть дислокацию ТСОДД</a> <br>" +
                                 "<a data-toggle='modal' data-target='#ModalRoadSigns" + (i + 1) + "' href='#'>Посмотреть данные о дорожных знаках</a></br>" +
                                 "<a href='#'>Посмотреть данные о дорожных ограждения</a>"
                         }
                     },
                                     {
                                         preset: "islands#blueCircleIcon"

                                     });
                     if (DataOfSegment[i].ChangeDislocationTCODD == true) {

                         segment.options.set("preset", "islands#redCircleIcon");
                     }
                     myMap.geoObjects.add(segment);
                     if (i != 0) {
                         $('[id^="ModalRoadSigns"]:last').after($('#ModalRoadSigns1').clone()
                                   .attr("id", "ModalRoadSigns" + (i + 1)).find(".buttonclose")
                                   .end().find("td input").each(function (ind, element) {
                                       $(element).attr("name", (i + 1).toString() + $(this).attr("name").substr($(this).attr("name").indexOf("M")));
                                   }).end());

                         $('[id^="RoadBarriers"]:last').after($('#RoadBarriers1').clone()
                             .attr("id", "RoadBarriers" + (i + 1)).find(".buttonclose")
                             .end()
                             .find("td input").each(function (ind, element) {
                                 $(element).attr("name", (i + 1).toString() + $(this).attr("name").substr($(this).attr("name").indexOf("R")));
                             }).end());
                     }
                     massSegment[increment - 1] = myMap.geoObjects.indexOf(segment);
                     increment++;
                 }

                 var multiplicity, incrementMul = 0;
                 for (var i = 0; i < DataOfRoadSings.length; i++) {
                     if (multiplicity != undefined) {
                         if (multiplicity == DataOfRoadSings[i].Name) {
                             incrementMul++;
                         } else {
                             incrementMul = 0;
                         }
                     }
                     multiplicity = DataOfRoadSings[i].Name;
                     $("[name='" + DataOfRoadSings[i].Name.toString() + "ModalC" + DataOfRoadSings[i].NumberRoadSigns.toString() + "']").eq(incrementMul)
                     .attr("value", DataOfRoadSings[i].CountRS);

                 }
                 for (var i = 0; i < "@Model.Segment.Count"; i++) {
                     setSegment(i);
                 }

             });




    }

    $(document).ready(function () {

        tableToGrid("#table1", {
            cmTemplate: { "resizable": false, sortable: false }
        });
        tableToGrid("#table2", {
            cmTemplate: { "resizable": false, sortable: false }
        });
        tableToGrid("#table3", {
            cmTemplate: { "resizable": false, sortable: false }
        });
    });
    function setTCODD(object) {
        $("#TCODD").attr("src", "/Home/LayoutDislocation/" + $(object).attr("IdSegment"));
    }
</script>
<style>

    /*модальное окно*/
    .modal-dialog {
        width: 75%;
    }

    td input {
        border-width: 0;
        text-align: right !important;
    }
    /*правит шрифт бутсрапа*/
    label {
        font-weight: normal;
    }
    /*отступы*/
    .indentForTextBox {
        margin-right: 60px;
    }

    .btn {
        width: 285px;
    }
</style>
<h2 style="text-align: center">Просмотр данных улицы</h2>

<div class="row">
    <div class="form-group col-lg-7 col-md-7 col-sm-7 col-xs-7">
        <div id="map" style="height: 400px;"></div>
    </div>
    <div class="form-group col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h3>1. Место расположения</h3>
        <h4>г. @Model.City.Name  @Model.Name</h4>
        <h3>2. Количество участков- <span> @Model.Segment.Count</span></h3>
        <h3>3. Количество участков <br> подлежащих редактированию- <span>  
            @if (Model.Segment.Any(a => a.ChangeDislocationTCODD))
            {
                @Model.Segment.Where(a => a.ChangeDislocationTCODD).Count();
            }
            else
            {
              @: 0
            }
        </span></h3>
        <button style="margin-top: 230px" type="button" class="btn btn-default" data-toggle="modal" data-target="#LayoutScheme">
            Просмотр компоновочной схемы
        </button>
    </div>
</div>


<div style="float: left;width: 30%;">
    <h3>Спецификация дорожной разметки</h3>

    <table id="table1">
        <tr>
            <th>№ разметки</th>
            <th>Длина (м.пог) / штуки</th>
            <th>Площадь (м.кв)</th>
        </tr>
        @foreach (var item in Model.SpecificationofRM)
            {
            <tr>
                <td>@item.TheHorizontalRoadMarking.NumberMarking</td>
                <td>@item.length</td>
                <td>@item.area</td>
            </tr>
        }
        <tr>
            <td><b>Итого</b></td>
            <td></td>
            <td>@Model.SpecificationofRM.Sum(a => Double.Parse(a.area))</td>
        </tr>
    </table>

</div>
<div style="float: left;width: 30%;">
    <h3>Спецификация дорожных знаков</h3>
    <table id="table2">
        <tr>
            <th>№ знака</th>
            <th>Количество</th>
        </tr>
        @foreach (var item in Model.SpecificationofRS.GroupBy(a => new { a.RoadSigns.NumberRoadSigns }).OrderBy(a =>
        {
            return int.Parse(a.Key.NumberRoadSigns.Substring(0, a.Key.NumberRoadSigns.IndexOf(".")).Replace(".", ","));
        })
        .ThenBy(a =>
        {
            if (a.Key.NumberRoadSigns.IndexOf(".", a.Key.NumberRoadSigns.IndexOf(".") + 1) == -1)
            {
                return int.Parse(a.Key.NumberRoadSigns.Substring(a.Key.NumberRoadSigns.IndexOf(".") + 1));
            }
            else
            {
                return int.Parse(a.Key.NumberRoadSigns.Substring(a.Key.NumberRoadSigns.IndexOf(".") + 1,
                    (a.Key.NumberRoadSigns.IndexOf(".", a.Key.NumberRoadSigns.IndexOf(".") + 1) - a.Key.NumberRoadSigns.IndexOf(".")) - 1));
            }
        })
        )
        {
            <tr>
                <td>@item.Key.NumberRoadSigns</td>
                <td>@item.Sum(a => a.CountRS)</td>
            </tr>
        }
        <tr>
            <td><b>Итого</b></td>
            <td>@Model.SpecificationofRS.Sum(a => a.CountRS)</td>
        </tr>
    </table>
</div>
<div style="float: left; width: 30%;">
    <h3>Спецификация дорожных ограждений</h3>
    <table id="table3">
        <tr>
            <th>Описание</th>
            <th>Погонные метры</th>
        </tr>
        @foreach (var item in Model.SpecificationOfRb.GroupBy(a =>new { a.RoadBarriers.NumberBarriers,a.RoadBarriers.Description}))
        {
            <tr>
                <td>@item.Key.Description</td>
                <td>@item.Sum(a => a.Length)</td>

            </tr>
        }
        <tr>
            <td><b>Итого</b></td>
            <td>@Model.SpecificationOfRb.Sum(a => a.Length)</td>
        </tr>
    </table>
</div>
<div style="clear: both">
    @*<h3>3.Просмотр данных участков</h3>
    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4" style="float: left">
        <button type="button"  data-toggle="modal"  data-target="#layoutDislocation" class="btn btn-default">Посмотреть дислокацию ТСОДД</button>
      
    </div>
    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4" style="float: left">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ModalRoadSigns1">Посмотреть данные о дорожных знаках</button>
    </div>
    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <button type="button" class="btn btn-default" style="width: 330px" data-toggle="modal" data-target="#RoadBarriers1">
            Посмотреть данные о дорожных ограждениях
        </button>
    </div>*@
</div>
<!-- Modal -->
<div class="modal fade" id="LayoutScheme" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-width:0px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            
            </div>
            <div class="modal-body">
                @try
                {
                    <img style="width: 75%" src="@Url.Action("GetImageLayoutScheme", "Home", new {id = Model.layoutScheme.Id})"/>
                }
                catch
                {
                    <h3>Компоновочная схема не загружена</h3>
                }
            </div>
            <div class="modal-footer"  style="border-width:0px">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@*Модальные окна*@
<div class="modal fade" id="layoutDislocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-width: 0px">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">

                <img id="TCODD" alt="дислокацию ТСОДД не загружена" style="width: 75%" src="@Url.Action("LayoutDislocation", "Home")"/>


            </div>
            <div class="modal-footer" style="border-width: 0px">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
 <!-- ModalRoadSigns -->
<div class="modal fade" id="ModalRoadSigns1" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 800px">
            <div class="modal-header">


            </div>
            <div class="modal-body">
                <div>

                    <!-- Nav tabs -->
                    <ul style="width: 400px" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab1" aria-controls="1" role="tab" data-toggle="tab">1</a></li>
                        <li role="presentation"><a href="#tab2" aria-controls="2" role="tab" data-toggle="tab">2</a></li>
                        <li role="presentation"><a href="#tab3" aria-controls="3" role="tab" data-toggle="tab">3</a></li>
                        <li role="presentation"><a href="#tab4" aria-controls="4" role="tab" data-toggle="tab">4</a></li>
                        <li role="presentation"><a href="#tab5" aria-controls="5" role="tab" data-toggle="tab">5</a></li>
                        <li role="presentation"><a href="#tab6" aria-controls="6" role="tab" data-toggle="tab">6</a></li>
                        <li role="presentation"><a href="#tab7" aria-controls="7" role="tab" data-toggle="tab">7</a></li>

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            @{ Session["increment"] = "1";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}

                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            @{ Session["increment"] = "2";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}

                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab3">
                            @{ Session["increment"] = "3";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab4">
                            @{ Session["increment"] = "4";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab5">
                            @{ Session["increment"] = "5";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab6">
                            @{ Session["increment"] = "6";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab7">
                            @{ Session["increment"] = "7";
                                Html.RenderPartial("Partials/RoadSingns", (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns);}
                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default buttonclose"  data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary buttonSave"  data-dismiss="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<!-- RoadBarriers  -->
@*<div class="modal fade" id="RoadBarriers1" tabindex="-1" role="dialog" data-backdrop="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 1000px" role="document">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <th>№ </th>
                        <th>Картинка</th>
                        <th>Описание</th>
                        <th>Погонные метры</th>
                    </tr>
                    @foreach (var item in (IEnumerable<oncloud.Domain.Entities.RoadBarriers>)ViewBag.RoadBarriers)
                    {
                        <tr>

                            <td>@item.NumberBarriers</td>
                            <td>
                                @if (item.ImageData != null)
                                {
                                    <img style="width: 100px;height: 100px" src="@Url.Action("GetImage",  "RoadBarriers", new { item.Id})" />
                                }
                            </td>
                            <td>
                                @item.Description
                            </td>
                            <td style="vertical-align: middle"><input name="1RoadBarriers@(item.NumberBarriers)" type="text" /></td>

                        </tr>
                    }

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" id="closeModalMackUp"  class="btn btn-default buttonclose" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary buttonSave" onclick="changeColorRoadBarriers(1)" data-dismiss="modal">Сохранить</button>
            </div>
        </div>
    </div>
</div>*@