@model IEnumerable<oncloud.Web.oddBase.Models.Home.Table>

@{
    ViewBag.Title = "Table";
}


<script type="text/javascript">
    $(document).ready(function() {

        tableToGrid("#table", {
            height: 700,
 
            onSelectRow: function(rowid, e) {
                $('#' + rowid).parents('table').resetSelection();
            },
            colNames: [
                "№ улицы", "Населенный пункт", "Наименование",
                "Количество участков","Учаски трубущие изменения ТСОДД", "     "
            ],
            forceFit: false,
            cmTemplate: { "resizable": false, sortable: false },
            colModel: [
                { name: "№_улицы", align: "center" },
                { name: "Населенный_пункт", align: "center" },
                { name: "Наименование", align: "center" },
                { name: "Количество_участков", align: "center" },
                { name: "Участки_требующие_изменения_ТСОДД", align: "center" },
                { name: "Столбце_действия", align: "center" }
            ]
        });

    });
</script>
<style type="text/css">
 td {
    padding: 0px !important
}
</style>

<h2>Таблица Улиц</h2>

@Html.ActionLink("+ Создать карточку улицы", "AddStreet", null, new { @class = "btn btn-default" ,style="margin-bottom: 15px" })
<table id="table" class="table-bordered" cellpadding="5" >
    <tr>

        <th>№_улицы</th>
        <th>Населенный_пункт</th>
        <th> Наименование </th>
        <th> Количество_участков</th>
        <th>Участки_требующие_изменения_ТСОДД</th>
        <th>Столбце_действия</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UniqueNumber</td>
            <td>@item.Location</td>
            <td>@item.Denomination</td>
            <td>@item.NumberSegment</td>
            <td>
                
                @if (item.Segments.Any(a => a.ChangeDislocationTCODD))
                {
                    for (var j = 0; j < item.Segments.Count(); j++)
                    {
                        if (item.Segments.ElementAt(j).ChangeDislocationTCODD)
                        {
                            <div>@item.Segments.ElementAt(j).Name</div>

                        }
                    }
                }
                else
                {
                    <div>------------</div>
                }
                    
            </td>
            <td>
                @Html.ActionLink("Просмотреть данные улицы", "Review", new { id = item.IdStreet })
                @Html.ActionLink("Изменить", "EditStreets", new { id = item.IdStreet })
                @Html.ActionLink("Удалить","DeleteStreet",new {id=item.IdStreet})
            </td>
        </tr>
    }

</table>






