@model IEnumerable<oncloud.Web.oddBase.Models.Home.Table>

@{
    ViewBag.Title = "Table";
    string NumberTCODD="";
}


<script type="text/javascript">
    $(document).ready(function() {

        tableToGrid("#table", {
            height: 700,
 
            onSelectRow: function(rowid, e) {
                $('#' + rowid).parents('table').resetSelection();
            },
            colNames: [
                 "Населенный пункт", "Наименование улицы",
                "Количество участков", "Номера участков требующие изменения ТСОДД", "     "
            ],
            forceFit: false,
            cmTemplate: { "resizable": false, sortable: false },
            colModel: [
               
                { name: "Населенный_пункт", align: "center" },
                { name: "Наименование", align: "center" },
                { name: "Количество_участков", align: "center", search: false },
                { name: "Номера_участков_требующие_изменения_ТСОДД", align: "center", search: false },
                { name: "Столбце_действия", align: "center" , search: false}
            ]
        });
        $('#table').jqGrid('filterToolbar', {
            autosearch:true
        }
       );
    });
    
    function setStreet(object) {
        $("#idDelete").attr("href", "/Home/DeleteStreet/" + $(object).attr("idDelete"));
    }
</script>
<style type="text/css">
 td {
    padding: 0px !important
}
</style>

<h2>Таблица Улиц</h2>

@Html.ActionLink("+ Создать карточку улицы", "AddStreet", null, new { @class = "btn btn-default" ,style="margin-bottom: 15px" })
<table id="table" class="table-bordered" cellpadding="5">
    <tr>

    
        <th>Населенный_пункт</th>
        <th> Наименование </th>
        <th> Количество_участков</th>
        <th>Номера_участков_требующие_изменения_ТСОДД</th>
        <th>Столбце_действия</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
        
            <td>@item.Location</td>
            <td>@item.Denomination</td>
            <td>@item.NumberSegment</td>
            <td>

                @if (item.Segments.Any(a => a.ChangeDislocationTCODD))
                {
                    for (var j = 0; j < item.Segments.Count(); j++)
                    {
                        if (item.Segments.ElementAt(j).ChangeDislocationTCODD)
                        {
                            
                                NumberTCODD += ","+item.Segments.ElementAt(j).Name.ToString();
                        }
                    }
                    @NumberTCODD.Substring(1)
                    NumberTCODD = "";
                }
                else
                {
                    <div>------------</div>
                }

            </td>
            <td>
               <div>@Html.ActionLink("Просмотреть данные улицы", "Review", new {id = item.IdStreet})</div>
               <div>@Html.ActionLink("Изменить", "EditStreets", new {id = item.IdStreet})</div>
               <div><a  href="#DeleteStructures"  role="button" onclick="setStreet(this)" idDelete="@item.IdStreet" data-toggle="modal">Удалить </a></div>
            </td>
        </tr>
    }

</table>
<div id="DeleteStructures" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление улицы</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить эту улицу?&hellip;</p>
            </div>
            <div class="modal-footer">
                @Html.ActionLink("Да, удалить", "DeleteStreet", null,new { id = "idDelete", @class = "btn btn-danger"})
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>






