@model oncloud.Domain.Entities.City

@{
    ViewBag.Title = "Удаление города";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Administration.Index())</li>
    <li>@Html.ActionLink("Справочник городов", MVC.Cities.Index())</li>
    <li>@Html.ActionLink(Model.Name, MVC.Cities.Details(Model.id))</li>
    <li class="active">Удаление</li>
</ol>

<h3>Вы уверены, что вы хотите удалить?</h3>
<div>
    <h4>Город</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
