@model oncloud.Domain.Entities.City

@{
    ViewBag.Title = "Подробнее о городе";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Administration.Index())</li>
    <li>@Html.ActionLink("Справочник городов", MVC.Cities.Index())</li>
    <li class="active">@Model.Name</li>
    <li class="active">Подробно</li>
</ol>

<div>
    <h4>Город</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", MVC.Cities.Edit(Model.id), new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Удалить", MVC.Cities.Delete(Model.id), new { @class = "btn btn-danger" })
</p>
