@model IEnumerable<oncloud.Domain.Entities.City>

@{
    ViewBag.Title = "Города";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Аdministration.Index())</li>
    <li class="active">Справочник городов</li>
</ol>

<p>
    @Html.ActionLink("Добавить", MVC.Cities.Create(), new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", MVC.Cities.Edit(item.id), new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Удалить", MVC.Cities.Delete(item.id), new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
