
@model  IEnumerable<oncloud.Domain.Entities.RoadSigns>

<table class="table table-bordered">
    <tr>
        <th>№ знака</th>
        <th>Картинка</th>
        <th>Описание</th>
        <th>Маркер</th>
        <th>Количество</th>
    </tr>
    @foreach (var item in (IEnumerable<oncloud.Domain.Entities.RoadSigns>)ViewBag.RoadSigns)
    {
        if (item.NumberRoadSigns.Substring(0, 1) == (string)Session["increment"])
        {
            <tr>
                <td>@item.NumberRoadSigns</td>
                <td>
                    @if (item.ImageData != null)
                    {
                        <img style="height: 100px; width: 100px" src="@Url.Action("GetImage", "RoadSigns", new {item.id})" />
                    }
                </td>
                <td>@item.Description</td>
                <td>
                    <table >

                        @foreach (var item2 in item.RoadSignItems)
                        {
                            <tr>
                                <td>
                                   
                                    @if (item2.ImageData != null)
                                    {
                                        <img style="height: 100px; width: 100px" src="@Url.Action("GetItemImage", "RoadSigns", new {id = item2.Id, hallmark = item2.Hallmark})" />
                                    }
                                    
                                    else
                                    {
                                    @item2.Description;
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td style="vertical-align: middle"><input name="ModalC@(item.NumberRoadSigns)" type="text" /></td>

            </tr>
        }
    }
</table>