@model IEnumerable<oncloud.Domain.Entities.IntelliSenseStreet>

@{
    ViewBag.Title = "Улицы";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Administration.Index())</li>
    <li class="active">Справочник городов и улиц</li>
</ol>

<p>
    @Html.ActionLink("Добавить", MVC.Streets.Create(), new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink(item.Street, MVC.Streets.Details(item.id, item.Street))
        </td>
        <td>
            @Html.ActionLink("Редактировать", MVC.Streets.Edit(item.id, item.Street), new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Удалить", MVC.Streets.Delete(item.id, item.Street), new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
