@model IEnumerable<oncloud.Domain.Entities.Street>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreadthS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BreadthE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LengthE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UniqueNumber)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreadthS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BreadthE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LengthE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UniqueNumber)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
