@model oncloud.Domain.Entities.RoadSigns

@{
    ViewBag.Title = "Удаление дорожного знака";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Administration.Index())</li>
    <li>@Html.ActionLink("Справочник дорожных знаков", MVC.RoadSigns.Index())</li>
    <li>@Html.ActionLink(Model.NumberRoadSigns, MVC.RoadSigns.Details(Model.id))</li>
    <li class="active">Удаление</li>
</ol>

<h3>Вы уверены, что вы хотите удалить?</h3>
<div>
    <h4>Дорожный знак</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberRoadSigns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberRoadSigns)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageData)
        </dt>
        <dd>

            @if (Model.ImageData != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75" height="75"
                         src="@Url.Action("GetImage", new { Model.id })" />
                </div>
            }
        </dd>

    </dl>
    <br />
    <h5>@Html.DisplayNameFor(model => model.RoadSignItems)</h5>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => (new oncloud.Domain.Entities.RoadSignItem()).Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => (new oncloud.Domain.Entities.RoadSignItem()).ImageData)
            </th>
        </tr>

        @foreach (var rsItem in Model.RoadSignItems)
        {

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => rsItem.Description)
                </td>
                <td>
                    @if (rsItem.ImageData != null)
                    {
                        <div class="pull-left" style="margin-right: 10px">
                            <img class="img-thumbnail" width="75" height="75"
                                 src="@Url.Action(MVC.RoadSigns.GetItemImage(rsItem.Id, rsItem.Hallmark))" />
                        </div>
                    }
                </td>
            </tr>
        }
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
