@{
    ViewBag.Title = "Администрирование";
}

<div class="row">
    @if (User.IsInRole("admin"))
    {
        <div class="col-md-4">
            <h2>Редактирование справочников</h2>
            <p>@Html.ActionLink("Редактировать справочник городов", MVC.Cities.Index(), new { @class = "btn btn-default btn-block" })</p>
            <p>@Html.ActionLink("Редактировать справочник улиц", MVC.Streets.Index(), new { @class = "btn btn-default btn-block" })</p>
            <p>@Html.ActionLink("Редактировать справочник разметки", MVC.HorizontalRoadMarkings.Index(), new { @class = "btn btn-default btn-block" })</p>
            <p>@Html.ActionLink("Редактировать справочник знаков", MVC.RoadSigns.Index(), new { @class = "btn btn-default btn-block" })</p>
            <p>@Html.ActionLink("Редактировать справочник дорожных ограждений", MVC.RoadBarriers.Index(), new { @class = "btn btn-default btn-block" })</p>

        </div>
    }
    
    <div class="col-md-4 col-md-push-4">
        <h2>Управление пользователями</h2>
        <p>@Html.ActionLink("Администрирование пользователей", MVC.Аdministration.Users(), new { @class = "btn btn-default" })</p>
        @*<p>@Html.ActionLink("Администрирование", "AdminTool", null, new { @class = "btn btn-default" })</p>*@
    </div>
</div>