@model IEnumerable<oncloud.Web.oddBase.Models.ApplicationUser>

@{
    ViewBag.Title = "Администрирование пользователей";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Аdministration.Index())</li>
    <li class="active">Справочник пользователей</li>
</ol>

<p>
    @Html.ActionLink("Добавить", MVC.Account.Register(), new { @class = "btn btn-success" })
</p>
<p>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrganizationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrganizationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @*@Html.ActionLink("Редактировать", MVC.RoadSigns.Edit(item.id), new { @class = "btn btn-primary" }) |*@
         @*   @Html.ActionLink("Удалить", MVC.RoadSigns.Delete(item.id), new { @class = "btn btn-danger" })*@
        </td>
    </tr>
}

</table>
