@model IEnumerable<oncloud.Domain.Entities.RoadBarriers>

@{
    ViewBag.Title = "Дорожные ограждения";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Administration.Index())</li>
    <li class="active">Справочник дорожных ограждений</li>
</ol>

<p>
    @Html.ActionLink("Добавить", MVC.RoadBarriers.Create(), new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberBarriers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>  
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ImageData != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75" height="75"
                         src="@Url.Action(MVC.RoadBarriers.GetImage(item.Id))" />
                </div>
            }

        </td>
        <td>
            @Html.ActionLink(item.NumberBarriers, MVC.RoadBarriers.Details(item.Id))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", MVC.RoadBarriers.Edit(item.Id), new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Удалить", MVC.RoadBarriers.Delete(item.Id), new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
