@model IEnumerable<oncloud.Domain.Entities.TheHorizontalRoadMarking>

@{
    ViewBag.Title = "Дорожная разметка";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Главная", MVC.Home.Index())</li>
    <li>@Html.ActionLink("Администрирование", MVC.Аdministration.Index())</li>
    <li class="active">Справочник дорожной разметки</li>
</ol>

<p>
    @Html.ActionLink("Добавить", MVC.HorizontalRoadMarkings.Create(), new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImageData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberMarking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.ImageData != null)
            {
                <div class="pull-left" style="margin-right: 10px">
                    <img class="img-thumbnail" width="75" height="75"
                         src="@Url.Action(MVC.HorizontalRoadMarkings.GetImage(item.id))" />
                </div>
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberMarking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", MVC.HorizontalRoadMarkings.Edit(item.id), new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Удалить", MVC.HorizontalRoadMarkings.Delete(item.id), new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
